<!-- Main Content -->
<main class="main-content">
  <h2 id="getting-started">Getting Started</h2>
  <hr>
  <h5>Introduction to the Microservices Course</h5>
  <p>Welcome to the Clean Architecture Course! This course is intended for developers and architects who want to build scalable, maintainable, and performant products by learning from implementation.</p>
  <div class="divider"></div>
  <h5 id="objectives" >Course Objectives</h5>
  <ul>
    <li>Understand how to embody software development principles at code level.</li>
    <li>Design and structure microservices.</li>
    <li>Explore and implement crucial architecture patterns.</li>
    <li>Deploy, secure and manage microservices in real-world environments.</li>
  </ul>
  <div class="divider"></div>
  <h5 id="prerequisites">Prerequisites</h5>
  <ul>
    <li>Basic understanding of web and HTTP</li>
    <li>DFamiliarity with java</li>
    <li>Awareness of Software development principle(SOLID/KISS/DRY)</li>
  </ul>
  <div class="divider"></div>

  <h5 id="learn">What You'll Learn</h5>
  <ul>
    <li><strong>Master the Fundamentals:</strong> Understand Spring Boot’s auto-configuration, define app layers and testing tools.</li>
    <li><strong>Implement Microservice Communication Patterns:</strong> Learn REST and reactive communication, service discovery with Eureka/Feign, and tracing with Zipkin.</li>
    <li><strong>Apply Performance strategies:</strong> Use caching strategies, connection pooling, health checks, explore and understand usage of modern protocols like RSocket and Protocol Buffers.</li>
    <li><strong>Build Resilient Distributed Systems:</strong> Make use of rate limiting, circuit breakers, application events and distributed jobs.</li>
    <li><strong>Configure Robust API Infrastructure:</strong> Monitor server performance, secure APIs with Cloudflare, and implement SLAs.</li>
    <li><strong>Scalable Database patterns:</strong> Explore partitioning, sharding, auditing with Envers/Debezium and choosing right database.</li>
    <li><strong>Enhance Observability and Testing:</strong> Monitor systems using Prometheus, Grafana, NewRelic, test performance with Gatling, and apply secure development practices.</li>
    <li><strong>Automate with DevOps & IaC:</strong> Automate deployments using Terraform, service mesh tools like Istio, and streamline releases with conventional commits and Spinnaker.</li>
    <li><strong>Apply Advanced Architecture Patterns:</strong> Deep dive into Domain-Driven Design, implement CQRS, and manage state with event sourcing for highly decoupled systems.</li>
    <li><strong>Navigate System Migrations:</strong> Plan and execute smooth database/infrastructure migrations, and compare cloud providers like AWS and GCP for hosting microservices.</li>

  </ul>
  <div class="divider"></div>

  <h5 id="tools"> Tools & Technologies Used</h5>
  <ul>
    <li><strong>Languages:</strong> Java</li>
    <li><strong>Languages:</strong> Java</li>
    <li><strong>Build Tools:</strong> Maven / Gradle</li>
    <li><strong>API Testing:</strong> Postman, REST Assured</li>
    <li><strong>Messaging:</strong> RabbitMQ</li>
    <li><strong>Discovery:</strong> Eureka, Consul</li>
    <li><strong>Gateways:</strong> Spring Cloud Gateway, Kong</li>
    <li><strong>Containers:</strong> Docker</li>
    <li><strong>CI/CD:</strong> GitHub Actions</li>
    <li><strong>Monitoring:</strong> Prometheus, Grafana, ELK</li>
    <li><strong>Security:</strong> OAuth2, Keycloak, Spring Security</li>
  </ul>
  <div class="divider"></div>

  <h5 id="format">Course Format</h5>
  <ul>
    <li>Concise reading material with clear explanations</li>
    <li>Extensive code samples for each concept</li>
    <li>Screen recordings for visual walkthroughs</li>
    <li>Step-by-step implementation guides</li>
    <li>Practice exercises to reinforce learning</li>
  </ul>

</main>

<nav class="jumpnav">
  <ul>
    <li><a [routerLink]="[]" fragment="getting-started">Getting Started</a></li>
    <li><a [routerLink]="[]" fragment="objectives">Course Objectives</a></li>
    <li><a [routerLink]="[]" fragment="prerequisites">Prerequisites</a></li>
    <li><a [routerLink]="[]" fragment="learn">What You'll Learn</a></li>
    <li><a [routerLink]="[]" fragment="tools">Tools & Technologies</a></li>
    <li><a [routerLink]="[]" fragment="format">Course Format</a></li>
  </ul>
</nav>

<div class="course-nav pre">
  <div class="btm-nav">
    <p>← PREVIOUS</p>
    <a  class="prev-link d-none">Get Started</a>
  </div>

  <div class="btm-nav">
    <p>NEXT →</p>
    <a routerLink="/spring-boot-auto-configuration" routerLinkActive="active" class="next-link">Spring Boot Auto-configuration</a>
  </div>
</div>
